.card-body
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #212121;
    border-radius: 1rem;
    margin-top: 18px;
    position: relative;
    left: -222px;
    width: 1270px;
   
}

.category
{
    font-size: medium;
    color: #AFAFAF;
    background-color: #212121;
}
.card
{
    margin-left: 260px;
    background-color:black;
    margin-top: 12px;
   
}
.cardCoin
{
    display:block;
    font-size: large;
    align-items: baseline;
    color: white;
    background-color: #212121;
}


.cardProfile > img{
    width: 100px;
    font-size: large;
    color: green;
}
.cardName
{
    font-size : large;
    color: white;
    background-color: #212121;
}

.cardChange
{
    font-size : large;
    color: white;
    background-color: #212121;
}

.cardMarketCap
{
    font-size : large;
    color: white;
    background-color: #212121;
}

.cardPrice
{
    font-size : large;
    color: white;
    background-color: #212121;
}


.cardGraph >img
{
    width: 100px;
    font-size : large;
    color: white;
}



