.title-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    border-radius: 1rem;
    margin-top: 18px;
    position: relative;
    width: 100%;
}

.empty h6 {
    padding: 0;
    margin: 0;
}

.title {
    margin-left: 50%;
    background-color: black;
    margin-top: 12px;
}

.titleCoin {
    display: block;
    font-size: large;
    align-items: baseline;
    color: white;
    background-color: black;
    position: relative;
    left: 6%;
}

.titleChange {
    font-size: large;
    color: white;
    background-color: black;
    position: relative;
    left: 9%;
}

.titleMarketCap {
    font-size: large;
    color: white;
    background-color: black;
    margin-left: 5%;
}

.titlePrice {
    font-size: large;
    color: white;
    background-color: black;
}

.titlegraph {
    font-size: large;
    color: white;
    background-color: black;
}

@media (max-width: 1650px) {
    .titleCoin {
        left: 8%;
    }
}

@media (max-width: 1317px) {
    .titleCoin {
        left: 5%;
    }
}

@media (max-width: 1525px) {
    .titlegraph {
        display: none;
    }
}

@media (max-width: 1421px) {
    .titleMarketCap {
        display: none;
    }
}

@media (max-width: 1317px) {
    .titleChange {
        display: none;
    }
    .titlePrice {
        position: relative;
        left: 3%;
    }
}