.title-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    border-radius: 1rem;
    margin-top: 18px;
    position: relative;
    width: 221%;
}

.title {
    margin-left: 260px;
    background-color: black;
    margin-top: 12px;
}

.titleCoin {
    display: block;
    font-size: large;
    align-items: baseline;
    color: white;
    background-color: black;
    position: relative;
    left: 3%;
}

.titleChange {
    font-size: large;
    color: white;
    background-color: black;
    position: relative;
    /* margin-left: 2%; */
    left: 4%;
}

.titleMarketCap {
    font-size: large;
    color: white;
    background-color: black;
}

.titlePrice {
    font-size: large;
    color: white;
    background-color: black;
}

.titlegraph {
    font-size: large;
    color: white;
    background-color: black;
}

@media (max-width: 1435px) {
    .titlegraph {
        display: none;
    }
    .title-body {
        width: 250%;
    }
}

@media (max-width: 1310px) {
    .titleMarketCap {
        display: none;
    }
    .title-body {
        width: 280%;
    }
}

@media (max-width: 1233px) {
    .titleChange {
        display: none;
    }
    .title-body {
        width: 260%;
    }
    .titlePrice {
        position: relative;
        right: 6%;
    }
}