section {
    text-align: center;
    margin-top: 5%;
}

label {
    font-size: 1.4rem;
    font-weight: bold;
    width: 20%;
    display: inline-block;
    color: white;
}

.something {
    margin-top: 10px;
    width: 100%;
}

input {
    width: 36%;
    height: 50px;
    border-radius: 10px;
    font-size: 1.4rem;
    background: white;
    color: black;
}