.title-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    border-radius: 1rem;
    margin-top: 18px;
    position: relative;
    width: 95%;
}

.title {
    margin-left: 5%;
    background-color: black;
    margin-top: 12px;
}

.titleCoin {
    display: block;
    font-size: large;
    align-items: baseline;
    color: white;
    background-color: black;
    position: relative;
    left: 3%;
}

.titleChange {
    font-size: large;
    color: white;
    background-color: black;
    position: relative;
    /* margin-left: 2%; */
    left: 4%;
}

.portfolioPrice{
    font-size: large;
    color: white;
    background-color: black;
    position: relative;
    left: 8%;

}

.portfolioProfitLoss {
    font-size: large;
    color: white;
    background-color: black;
}
.HoldingsTitle
{
    font-size: large;
    color: white;
    background-color: black;
    position: relative;
    left: 6%;
}

.titlegraph {
    font-size: large;
    color: white;
    background-color: black;
}

@media (max-width: 1525px) {
    .titlegraph {
        display: none;
    }
}

@media (max-width: 1421px) {
    .titleMarketCap {
        display: none;
    }
}

@media (max-width: 1317px) {
    .titleChange {
        display: none;
    }
    .titlePrice {
        position: relative;
        right: 6%;
    }
}