.ProfileTab
{
    display: block;
    margin-top: 28px;
    border-radius: 1rem;
    color: #212121;
    width: 480px;
    flex-wrap: wrap;
    word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;
}


.tableBody
{
    margin-top: 1.5rem;
    margin-right: 27px;
}

.TableChange
{
    font-size: medium;
    color: green;
}

.topTrendButton >button
{
    width: 470px;
}

.TableName
{
    font-size: medium;
}

.TableBody
{
    font-size: medium;
}